body {
  background:#fff;
  font-family:'Times New Roman';
}

.card {
  width:90%;
  max-width:600px;
  margin:20px auto;
  padding:20px;
  border:2px solid #fbc02d;
  background:#fffde7;
  text-align:center;
}

button {
  background:#fbc02d;
  border:none;
  padding:8px;
}

.draw-btn {
  background:#ffca28;
}

#board {
  display:grid;
  grid-template-columns: repeat(10,1fr);
  gap:5px;
}

.cell {
  border:1px solid #ccc;
  padding:10px;
  cursor:pointer;
}

.cell.used {
  background:#ccc;
  color:#666;
  cursor:not-allowed;
}